* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body{
  font-size: 62.5%;
  background-color: #EEEEEE;
}

header{
  box-sizing: border-box;
  height: 4rem;
  background-color: #EEEEEE;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.05rem;
  padding: 1rem 2.25rem 0 2.25rem;
}

#header-img{
  height: 2.15rem;
  width: auto;
}

#nav-bar{
  box-sizing: border-box;
  float: right;
}

#nav-bar ul{
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

#nav-bar li{
  display: inline-block;
  padding: .4rem 3rem 0 3rem;
}

main{
  width: 75vw;
  margin: 0 auto 0 auto;
}
